<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
    <mat-toolbar color="primary">
      <span>Menu</span>
      <!--!Se define el título de la barra de navegación-->
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of sideNavItems"
        [routerLink]="item.url"
        (click)="sidenav.toggle()"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="spacer"></span>

    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button (click)="menuItem.action()" mat-menu-item *ngFor="let menuItem of matMenuItems">
        <mat-icon>{{menuItem.icon}}</mat-icon>
        <span>{{menuItem.label}}</span>
      </button>
      <!-- <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button> -->
    </mat-menu>

    <!-- <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesion</span>
    </button>  -->

    </mat-toolbar
  ><!--!Se define el color de la barra de navegación-->

  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
